[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
xlwings = "*"
click = "*"
jinja2 = "*"
twine = "*"

[dev-packages]
setuptools-pipfile = "*"
build = "*"

[requires]
python_version = "3.8"
